.mes{
  font-weight: bold;
}
.enero{
  color: #000000;
}

.febrero{
  color: #0000FF;
}

.marzo{
  color: #AADDFF;
}

.abril{
  color: #DDCC33;
}

.mayo{
  color: #33dd55;
}

.junio{
  color: red;
}

.julio{
  color: yellow;
}

.agosto{
  color: green;
}

.septiembre{
  color: gray;
}

.octubre{
  color: #00AACC;
}

.noviembre{
  color: #001122;
}

.diciembre{
  color: blue;
}

.enero{
  color: #000000;
}

.enero{
  color: #000000;
}